@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.geist-600 {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.geist-500 {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #000000;
  @apply geist-500;
}

.custom-date-picker::-webkit-calendar-picker-indicator {
  filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(230deg)
    brightness(95%) contrast(80%);
  transform: scale(1.5);
}
